$theme: (
    "50" : #F3E5F5,
    "100" : #E1BEE7,
    "200" : #CE93D8,
    "300" : #BA68C8,
    "400" : #AB47BC,
    "500" : #9C27B0,
    "600" : #8E24AA,
    "700" : #7B1FA2,
    "800" : #6A1B9A,
    "900" : #4A148C
);

html,body{
    font-family:'Roboto', sans-serif;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    font-size:16px;
    color:#444;
}

app-root{
    display:block;
}

*{
    box-sizing:border-box;

    &:not(input,textarea){
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
    }
}

/*wui-loading*/

wui-loading{
    display:inline-block;
    margin:1rem auto;

    .indeterminate {

        &:before {
            background-color: #9C27B0 !important;
        }
        
        &:after {
            background-color: #BA68C8 !important;
        }

    }

    .linear{
        .pos{
            background-color: #9C27B0 !important;
        }
    }

    .circular{
        .path{
            stroke: #9C27B0 !important;
        }
    }

}

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

$theme-colors: map-merge(
    $theme-colors,
    (
        "primary": map-get($theme, "500")
    )
);

@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/utilities';


wui-form-field{
    background-color:#F7F7F7;
    border-top-left-radius:.25rem;
    border-top-right-radius:.25rem;

    input, textarea, select {
        &:not(.ng-invalid):not(.ng-pristine), &.ng-untouched, &.ng-valid {
            &:focus {
                ~ .border{
                    &:after{
                        background-color:map-get($theme-colors, "primary") !important;
                    }
                }
            }
        }
    }

    &:focus-within{
        background-color:#F2F2F2;

        span.mdi, label{
            color:map-get($theme-colors, "primary");
        }
    }

}

wui-page{
    background-color:#FFF;
}

h1,h2,h3,h4,h5{
    font-weight:normal;
}

.btn-group{
    .btn{
        margin-right:.5rem;

        &:last-child{
            margin-right:0;
        }
    }
}

.btn{
    display:inline-flex;
    white-space: nowrap !important;
    outline:none;
    box-shadow:none !important;
    justify-content:center;
    font-family:'Roboto', sans-serif;

    span.mdi{
        width:1.5rem;
        height:1.5rem;
        display:inline-flex;
        justify-content:center;
        align-items:center;
        margin:0 !important;
        margin-right:1rem !important;
    }
    
    span.mdi:last-child{
        margin-right:0 !important;
    }

    &.fab{
        position:fixed;
        bottom:1rem;
        right:1rem;
        display:inline-flex;
        padding:1rem;
        justify-content:center;
        align-items:center;
        z-index:3;
        border-radius:50%;
    }
}


div.wuiRipple{
    width:0;
    height:0;
    background-color:rgba(0,0,0,0.12);
    position:absolute;
    top:50%;left:50%;
    z-index:-1;
    border-radius:50%;
    transition:all ease .5s;
}

wui-drawer {
    .profile {
        padding:.5rem 1.5rem 1.5rem;
    
        .avatar {
            width:4rem;
            height:4rem;
            border-radius:50%;
            background-color:#EFEFEF;
            position:relative;
            overflow:hidden;
            margin-bottom:1rem;
    
            img{
                position:absolute;
                width:100%;
                height:100%;
                top:0;left:0;
            }
        }
    
        h3{
            margin:0;
            font-size:1.25rem;
        }
    
        .akses{
            font-size:0.875rem;
        }
    }

    wui-drawer-item {        
        &.active{
            color:map-get($theme-colors, "primary");
        }
    }

}

.btn-rounded{
    border-radius:1.5rem;
}