<ng-template #pageTemplate>
    <wui-page>
        <wui-app-bar>
            <div class="wui-app-bar-leading">
                <button class="wui-button wui-button-large wui-button-icon wui-button-smooth" (click)="back()">
                    <wui-icon icon="arrow-left"></wui-icon>
                </button>
            </div>
            <div class="wui-app-bar-title"></div>
            <div class="wui-app-bar-trailing"></div>
        </wui-app-bar>

        <div class="wui-page-inner">
            <div class="wui-page-container">
                <div class="mb-5 d-flex align-items-center">
                    <div class="flex-grow-1">
                        <h1>Comment</h1>
                        <div>3 March 2024 by <a href="#">Admin</a></div>
                    </div>
                </div>
                
                <div>
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et nisl lacinia ligula imperdiet ullamcorper. Donec nibh metus, mollis sit amet eros eu, venenatis malesuada odio. Pellentesque sit amet velit ut neque porta vehicula. Fusce ut auctor nunc. Nunc non massa ornare, accumsan enim at, semper dui. Vestibulum tempus dapibus ornare. Ut dictum neque augue, a ullamcorper urna tempus rutrum. Sed dapibus aliquam turpis sed vestibulum. Etiam sed dignissim sapien.
                    </p>
                    <p>
                    Maecenas et bibendum lacus, vitae lacinia ipsum. Donec at nulla non dui condimentum pellentesque. Donec non aliquam nibh. Integer venenatis aliquam turpis. Praesent ultrices, dui id bibendum mollis, arcu urna porta leo, vitae interdum erat dolor at nisi. Aliquam malesuada odio sit amet sapien aliquam ullamcorper. Curabitur fringilla elit eget tellus condimentum, a aliquam tortor imperdiet. Mauris nec ante egestas lectus placerat congue. Cras velit arcu, lacinia sit amet nulla aliquam, tempor posuere dui. Etiam lacinia pretium malesuada.
                    </p>
                    <p>
                    Nullam mattis tristique dapibus. Vestibulum porta urna eget mattis hendrerit. Sed in turpis nulla. Fusce a ipsum est. Sed condimentum elit sed magna commodo, ut rhoncus odio interdum. Nam urna neque, mollis ac quam bibendum, euismod semper est. Phasellus aliquam metus sit amet mollis dictum. Praesent consectetur cursus hendrerit. Mauris pretium felis ac elit facilisis, ac facilisis nibh efficitur.
                    </p>
                    <p>
                    Sed gravida porttitor nulla non rhoncus. In rhoncus ligula vel mi auctor tempus. Aliquam erat volutpat. Pellentesque sit amet ligula posuere enim sodales aliquet. In pulvinar risus ut dolor lobortis, vitae imperdiet diam bibendum. Sed vehicula at leo id feugiat. Vestibulum tempor rhoncus nibh. In mattis lacinia enim consequat aliquet. Donec tempor metus sed nulla pharetra aliquet. Vivamus quis volutpat ex, vitae tempor tellus. Quisque pellentesque molestie dolor sed sodales.
                    </p>
                    <p>
                    Ut vitae consequat quam. Maecenas congue molestie mattis. Nullam a aliquet ligula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper, magna at scelerisque ullamcorper, quam lacus porta ipsum, eu fringilla velit diam in est. Donec hendrerit, quam eget euismod vestibulum, neque arcu varius purus, eget aliquam libero felis eu enim. Nam scelerisque ultricies libero non porta. Sed tristique purus id egestas finibus. Nunc eget nibh vel lacus accumsan posuere. Quisque enim urna, malesuada non libero et, tincidunt placerat ligula. Suspendisse ac convallis velit, in lacinia justo. Vivamus nec hendrerit leo. Aenean hendrerit lectus quis mi tempus tincidunt. Nunc facilisis feugiat lacinia. Nullam blandit tristique nisi ut vestibulum. Ut convallis odio quis felis vehicula gravida.
                    </p>
                </div>
    
                <div class="py-5 d-flex">
                    <button class="wui-button wui-button-primary me-2" routerLink="share">
                        Share <wui-icon icon="share-circle" class="trailing"></wui-icon>
                    </button>

                    <button class="wui-button" routerLink="comments">
                        Comments <wui-icon icon="message-text" class="trailing"></wui-icon>
                    </button>
                </div>
            </div>
        </div>
    </wui-page>
</ng-template>

<router-outlet></router-outlet>