<ng-template #pageTemplate>
    <wui-page>
        <wui-app-bar>
            <div class="wui-app-bar-leading">
                <button class="wui-button wui-button-large wui-button-icon wui-button-smooth" (click)="back()">
                    <wui-icon icon="arrow-left"></wui-icon>
                </button>
            </div>
            <div class="wui-app-bar-title"></div>
            <div class="wui-app-bar-trailing"></div>
        </wui-app-bar>

        <div class="wui-page-inner">
            <div class="wui-page-container">
                <div class="mb-5 d-flex align-items-center">
                    <div class="flex-grow-1">
                        <h1>Comments</h1>
                    </div>
                </div>
            </div>
        </div>
    </wui-page>
</ng-template>