@use 'sass:map';
@use '../abstracts/variables' as var;
@use '../utils/breakpoints' as bp;

$sides: (
    "top": "t",
    "left": "s",
    "right": "e",
    "bottom": "b",

    "vertical": "y",
    "horizontal": "x"
);

@mixin spacing($property: "margin", $side: "none", $breakpoint: "xs", $size: "0") {

    $is-side-none: $side == "none";
    $is-bp-none: $breakpoint == "xs";

    .#{map.get($spacing-property, $property)}#{if($is-side-none, "", map.get($sides, $side))}#{if($is-bp-none, "", "-" + $breakpoint)}-#{$size} {
        @if($side == "vertical") {
            #{$property}-top: var(--wui-spacing-#{$size});
            #{$property}-bottom: var(--wui-spacing-#{$size});
        } @else if($side == "horizontal") {
            #{$property}-left: var(--wui-spacing-#{$size});
            #{$property}-right: var(--wui-spacing-#{$size});
        } @else {
            #{$property}#{if($side=="none", "", "-" + $side)}: var(--wui-spacing-#{$size});
        }
    }
}

$spacing-property: ("margin": "m", "padding": "p");

@each $breakpoint-name, $breakpoint-width in var.$breakpoints {
    @include bp.media_breakpoints($breakpoint-name) {
        @each $property, $shortname in $spacing-property {
            @include spacing($property, "none", $breakpoint-name);
    
            @each $side-name, $side-selector in $sides {    
                @each $size, $value in var.$spacing {
                    @include spacing($property, $side-name, $breakpoint-name, $size);
                }
            }
        }
    }
}