@import '../variables/colors.scss';

.wui-box {
    padding:1rem;
    box-sizing:border-box;
    background-color:white;
    display:block;
    border-radius:.25rem;
    // border:1px solid #EFEFEF;
    transition:box-shadow ease .25s;
    position:relative;
    z-index:0;
    margin-bottom:1rem;

    &:hover{
        // border:1px solid rgba(0,0,0,0);
        box-shadow: 0 0 .25rem 0rem rgba(0,0,0,.25);
        z-index:1;
    }

    &.selected{
        // border:1px solid rgba(0,0,0,0);
        box-shadow: 0 0 1rem 0rem rgba(0,0,0,.25);
        z-index:1;
    }

    // &.selected{
    //     border:2px solid map-get($theme, "300") !important;
    //     padding:1rem;
    // }
}