@import "../variables/colors.scss";

.btn{
    display:inline-flex;
    white-space: nowrap ;
    outline:none;
    justify-content:center;
    font-family:'Roboto', sans-serif;
    background-color:transparent;
    border:none;
    font-weight:500;
    color:#666;

    &-circle{
        padding-left:.375rem ;
        padding-right:.375rem ;
        border-radius:50%;
    }

    &-down{
        &.btn{
            &-primary{
                background-color:map-get($theme, "600");
                color:rgba(255,255,255,0.8) ;
            }

            &-default{
                background-color:rgba(0,0,0,0.07);
                color:#555;
            }
        }
    }

    &.fill{
        background-color:rgba(0,0,0,0.035);
    }

    &:hover{
        background-color: rgba(0,0,0,0.05);
        color:#444 ;
        cursor:pointer;
    }

    &:active{
        background-color: rgba(0,0,0,0.15);
        color:#333 ;
    }

    &:disabled{
        background-color:rgba(0,0,0,0.15) ;
        color:#333 ;
    }


    &:focus {
        box-shadow: 0 0 0 0.2rem rgba(rgba(0,0,0), 0.35);
    }

    &-primary{
        color:map-get($theme, "500") ;

        &:hover{
            &:not(:disabled){
                background-color:map-get($theme, "600");
                color:rgba(255,255,255,.8);
            }
        }

        &:focus {
            box-shadow: 0 0 0 0.2rem rgba(map-get($theme, "600"), 0.25);
        }

        &:active{
            &:not(:disabled){
                color:rgba(255,255,255,1);
                background-color:map-get($theme, "700");
            }
        }
    }

    &-danger{
        color:#F44336 ;

        &:hover{
            color:rgba(255,255,255,.8) ;
            background-color:#E53935 ;
        }

        &:focus {
            box-shadow: 0 0 0 0.2rem rgba(#F44336, 0.25);
        }

        &:active{
            color:rgba(255,255,255,1) ;
            background-color:#D32F2F ;
        }
    }

    &-fill{
        &-default {
            background-color: rgba(0,0,0,0.035);
            color:#777 ;
        }

        &:focus {
            box-shadow: 0 0 0 0.2rem rgba(rgba(0,0,0), 0.35);
        }

        &-secondary {
            background-color: map-get($theme, "secondary");
            color: white;

            &:hover, &:active {
                background-color: darken(map-get($theme, "secondary"), 50%);
                opacity: 1;
                color: white;
            }
        }
        
        &-primary {
            background-color:map-get($theme, "500");
            color:rgba(255,255,255,.8);

            &:hover{
                background-color:map-get($theme, "600");
                color:white ;
            }
        }

        &-danger {
            background-color:#F44336 ;
            color:rgba(255,255,255,.8) ;

            &:hover{
                background-color:#E53935 ;
                color:white ;
            }
        }
    }

    span.mdi{
        width:1.5rem;
        height:1.5rem;
        display:inline-flex;
        justify-content:center;
        align-items:center;
        margin:0 ;
        margin-right:.5rem ;

        &:last-child{
            margin-right: 0 ;
        }
    }


    &.fab{
        position:fixed;
        bottom:1rem;
        right:1rem;
        display:inline-flex;
        padding:1rem;
        justify-content:center;
        align-items:center;
        z-index:3;
        border-radius:50%;
    }
}