@import "../variables/colors.scss";

.btn {
    padding: .375rem 1rem;
    border-radius: .25rem;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.0125rem;
    font-family: inherit;
    font-weight: normal;

    &-default {
        color: #424242;
        background-color: #E0E0E0;

        &:hover {
            color: darken(#424242, 5%);
            background-color: darken(#E0E0E0, 5%);
        }
    }

    span.mdi{
        vertical-align: middle;
        line-height: .875rem;

        &:before {
            line-height: .875rem;
        }

        &:first-child {
            margin-left: -.5rem;
        }

        &:last-child{
            margin-right: -.5rem;
        }
    }

    &-smooth {
        background: transparent;
        border-color: transparent !important;

        &.btn-default {
            color: #424242;

            &:hover {
                color: darken(#424242, 5%);
                background-color: #E0E0E0;
            }
        }

        &.btn-primary {
            color: map-get($theme, "400");

            &:hover {
                background-color: rgba(map-get($theme, "100"), 0.5);
                color: map-get($theme, "600");
            }
        }

        &.btn-secondary {
            color: #222;

            &:hover {
                background-color: rgba(0,0,0,0.15);
            }
        }
    }

    &-rounded {
        border-radius: 1.5rem;
        padding-left: .75rem;
        padding-right: .75rem;
    }

    &-fab {
        padding: 0 !important;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        display: inline-flex;

        span.mdi {
            margin-right: 0 !important;
            margin-left: 0 !important;

            &:before {
                width: 1.5rem;
                height: 1.5rem;
                line-height: 1.5rem;
            }
        }

        &-sm {
            width: 2.5rem;
            height: 2.5rem;
            justify-content: center;
            align-items: center;
        }
    }

    &-lg {
        padding-top: .5rem;
        padding-bottom: .5rem;
        font-size: 1.125rem !important;
        font-weight: 300 !important;
        
        &.btn-rounded {
            border-radius: 1.5rem;
        }
    }

    + .btn {
        margin-left: .25rem;
    }
}

.btn-group {
    display: flex;
    
    .btn  {
        border-radius: 0;

        &:first-child{
            border-top-left-radius: .25rem;
            border-bottom-left-radius: .25rem;
        }

        &:last-child{
            border-top-right-radius: .25rem;
            border-bottom-right-radius: .25rem;
        }

        &-outline {
            &-primary, &-secondary, &-success, &-danger, &-info, &-warning {
                border-left-width: 0px !important;

                &:first-child {
                    border-left-width: 1px !important;
                }

                &:last-child {
                    border-right-width: 1px !important;
                }
            }
        }

        + .btn {
            margin-left: 0;
        }
    }
}

@media screen and (max-width: 768px) {
    .btn {
        font-size: .875rem;       
    }
}