<ng-template #dialogTpl>
    <div class="wui-modal-inner">
        <div class="wui-modal-header d-flex align-items-center">
            <div class="flex-grow-1">Share To...</div>
            <button class="wui-button wui-button-icon wui-button-smooth" tabindex=-1 type="button" (click)="close()">
                <wui-icon icon="close"></wui-icon>
            </button>
        </div>
        <div class="wui-modal-content p-0">
            <div class="wui-responsive-table">
                <table class="wui-table">
                    <tbody>
                        @for(row of rows(); track $index) {
                            <tr>
                                <td>{{row}}</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="wui-modal-footer d-flex align-items-center justify-content-between">
            <button class="wui-button" type="button" routerLink="stack">Close</button>
            <button class="wui-button wui-button-primary" (click)="rebuild()">Rebuild</button>
        </div>
    </div>
</ng-template>

<router-outlet />