$wui-colors: (
    "blue": (
        "50": #e3f2fd,
        "100": #bbdefb,
        "200": #90caf9,
        "300": #64b5f6,
        "400": #42a5f5,
        "500": #2196f3,
        "600": #1e88e5,
        "700": #1976d2,
        "800": #1565c0,
        "900": #0d47a1,
    ),
    "blueGrey": (
        "50": #eceff1,
        "100": #cfd8dc,
        "200": #b0bec5,
        "300": #90a4ae,
        "400": #78909c,
        "500": #607d8b,
        "600": #546e7a,
        "700": #455a64,
        "800": #37474f,
        "900": #263238,
    ),
    "green": (
        "50": #e8f5e9,
        "100": #c8e6c9,
        "200": #a5d6a7,
        "300": #81c784,
        "400": #66bb6a,
        "500": #4caf50,
        "600": #43a047,
        "700": #388e3c,
        "800": #2e7d32,
        "900": #1b5e20,
    ),
    "red": (
        "50": #ffebee,
        "100": #ffcdd2,
        "200": #ef9a9a,
        "300": #e57373,
        "400": #ef5350,
        "500": #f44336,
        "600": #e53935,
        "700": #d32f2f,
        "800": #c62828,
        "900": #b71c1c,
    ),
    "orange": (
        "50": #fff3e0,
        "100": #ffe0b2,
        "200": #ffcc80,
        "300": #ffb74d,
        "400": #ffa726,
        "500": #ff9800,
        "600": #fb8c00,
        "700": #f57c00,
        "800": #ef6c00,
        "900": #e65100,
    )
) !default;

@if variable-exists(wui-additional-colors) {
    $wui-colors: map-merge($wui-colors, $wui-additional-colors);
}

:root {
    @each $name, $variants in $wui-colors {
        @each $variant, $color in $variants {
            --wui-color-#{$name}-#{$variant}: #{$color};       
        }
    }    
}

@each $name, $variants in $wui-colors {
    @each $variant, $color in $variants {
        .text-#{$name}-#{$variant} {
            color: #{$color};
        }

        .bg-#{$name}-#{$variant} {
            background-color: #{$color};
        }

        .border-#{$name}-#{$variant} {
            border-color: #{$color}
        }
    }
}

$theme: (
    "50" : #E3F2FD,
    "100" : #BBDEFB,
    "200" : #90CAF9,
    "300" : #64B5F6,
    "400" : #42A5F5,
    "500" : #2196F3,
    "600" : #1E88E5,
    "700" : #1976D2,
    "800" : #1565C0,
    "900" : #0D47A1,
    "secondary" : #222
);

$theme-text: rgba(0, 0, 0, 0.87) !default;
$theme-primary: map-get($theme, "700") !default;
$theme-secondary: #212121 !default;
$theme-danger: #B00020 !default;
$theme-light: rgba(125,125,125, .12) !default;
$theme-backdrop: rgba(0,0,0,0.5) !default;

$theme-button-hover-bg: darken($theme-light, 50%);
$theme-button-focus-bg: darken($theme-button-hover-bg, 100%);

$theme-light-bg: #FFF;
$theme-light-text: rgba(0, 0, 0, 0.67);

$theme-dark-bg: rgba(0, 0, 0, 0.87);
$theme-dark-text: rgba(255,255,255,0.67);

$theme-dark-button-text: rgba(255,255,255,0.67);
$theme-dark-button-bg: transparent;

$theme-dark-button-hover-text: #FFF;
$theme-dark-button-hover-bg: rgba(255,255,255,.16);

$theme-button-text: $theme-text;
$theme-button-bg: $theme-light;
$theme-button-hover-text: darken($theme-text, 5%);
$theme-button-focus-text: darken($theme-text, 5%);
$theme-button-smooth-text: $theme-text;
$theme-button-smooth-hover-bg: lighten($theme-light, 3%);
$theme-button-smooth-focus-bg: lighten($theme-light, 5%);

$theme-button-primary-text: #FFF;
$theme-button-primary-bg: $theme-primary;
$theme-button-primary-hover-text: #FFF;
$theme-button-primary-hover-bg: lighten($theme-primary, 5%);
$theme-button-primary-focus-text: #FFF;
$theme-button-primary-focus-bg: lighten($theme-primary, 10%);
$theme-button-primary-smooth-text: $theme-primary;
$theme-button-primary-smooth-hover-bg: rgba($theme-primary, 10%);
$theme-button-primary-smooth-focus-bg: rgba($theme-primary, 20%);

$theme-button-secondary-text: #FFF;
$theme-button-secondary-bg: $theme-secondary;
$theme-button-secondary-hover-text: #FFF;
$theme-button-secondary-hover-bg: lighten($theme-secondary, 5%);
$theme-button-secondary-focus-text: #FFF;
$theme-button-secondary-focus-bg: lighten($theme-secondary, 10%);
$theme-button-secondary-smooth-text: $theme-secondary;
$theme-button-secondary-smooth-hover-bg: rgba($theme-secondary, 10%);
$theme-button-secondary-smooth-focus-bg: rgba($theme-secondary, 20%);

$theme-button-danger-text: #FFF;
$theme-button-danger-bg: $theme-danger;
$theme-button-danger-hover-text: #FFF;
$theme-button-danger-hover-bg: lighten($theme-danger, 5%);
$theme-button-danger-focus-text: #FFF;
$theme-button-danger-focus-bg: lighten($theme-danger, 10%);
$theme-button-danger-smooth-text: $theme-danger;
$theme-button-danger-smooth-hover-bg: rgba($theme-danger, 10%);
$theme-button-danger-smooth-focus-bg: rgba($theme-danger, 20%);

$theme-list-item-selected-bg: rgba($theme-primary, 15%);
$theme-list-item-selected-text: $theme-primary;

$theme-avatar-bg: rgba(#000, 12%);
$theme-checkbox: rgba(#000, 38%);
$theme-toggle-track-bg: rgba(#000, 12%);

$theme-border: rgba(0, 0, 0, 0.08);
$theme-text: rgba(0, 0, 0, 0.67);
$theme-black: (
    "87": rgba(0, 0, 0, 0.87),
    "77": rgba(0, 0, 0, 0.77),
    "67": rgba(0, 0, 0, 0.67),
    "54": rgba(0, 0, 0, 0.54)
)