<ng-template #pageTemplate>
    <wui-page>
        <wui-app-bar>
            <div class="wui-app-bar-leading">
                <button class="wui-button wui-button-large wui-button-icon wui-button-smooth">
                    <wui-icon icon="menu"></wui-icon>
                </button>
            </div>
            <div class="wui-app-bar-title"></div>
            
            <div class="wui-app-bar-trailing">
                <button class="wui-button wui-button-large wui-button-icon wui-button-smooth">
                    <wui-icon icon="refresh"></wui-icon>
                </button>
            </div>
        </wui-app-bar>
        
        <div class="wui-page-inner">
            <div class="wui-page-container">
                <button class="wui-button" [wuiContextMenuTrigger]="basicMenu" [wuiContextMenuTriggerData]="{$implicit: 'halo'}">Open Menu</button>
            </div>
        </div>
    </wui-page>
</ng-template>

<ng-template #basicMenu let-data>
    <div class="wui-menu wui-menu-compact" wuiContextMenu>
        <button class="wui-menu-item" wuiContextMenuItem (click)="testItem(data)">
            <wui-icon icon="card-text" class="me-3"></wui-icon>Entri Jurnal
        </button>
    </div>
</ng-template>