@use '../abstracts/variables' as var;
@use '../abstracts/colors' as color;
@use '../components/buttons';


:root {
    @include var.spacing_variables();
    // @include color.include_color_variables();
    @include buttons.variables;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', 'Roboto', sans-serif;
    background-color: var(--wui-color-surface);
    color: var(--wui-color-on-surface);
    font-size: var.$body-font-size;
    line-height: 1.5;
}