<wui-page>
    <wui-app-bar>
        <div class="wui-app-bar-leading">
            <button class="wui-button wui-button-large wui-button-icon wui-button-smooth">
                <wui-icon icon="menu"></wui-icon>
            </button>
        </div>
        <div class="wui-app-bar-title">title</div>
        <div class="wui-app-bar-trailing">
            <button class="wui-button wui-button-rounded wui-button-primary" (click)="modal.open()">
                INSIDE MODAL
            </button>
        </div>
    </wui-app-bar>

    <div class="wui-page-inner">
        <wui-list class="wui-list-bordered wui-list-hovered" wuiSortable (wuiSortableChange)="sortableChange($event)">
            <wui-list-tile class="wui-list-tile-56" data-key="1">
                <div class="wui-list-tile-leading">
                    <wui-icon icon="tag"></wui-icon>
                </div>
                <div class="wui-list-tile-content">Apple</div>
            </wui-list-tile>

            <wui-list-tile class="wui-list-tile-56" data-key="2">
                <div class="wui-list-tile-leading">
                    <wui-icon icon="tag"></wui-icon>
                </div>
                <div class="wui-list-tile-content">Banana</div>
            </wui-list-tile>

            <wui-list-tile class="wui-list-tile-56" data-key="3">
                <div class="wui-list-tile-leading">
                    <wui-icon icon="tag"></wui-icon>
                </div>
                <div class="wui-list-tile-content">Watermelon</div>
            </wui-list-tile>
        </wui-list>
    </div>
</wui-page>

<wui-modal #modal>
    <div class="wui-modal-header">
        <div class="d-flex justify-content-between align-items-center">
            <div>Inside Modal</div>
            <button class="wui-button wui-button-smooth wui-button-icon" (click)="modal.close()">
                <wui-icon icon="close"></wui-icon>
            </button>
        </div>
    </div>

    <div class="wui-modal-content-no-padding">
        <wui-list class="wui-list-bordered wui-list-hovered" wuiSortable (wuiSortableChange)="sortableChange($event)">
            <wui-list-tile class="wui-list-tile-56" data-key="1">
                <div class="wui-list-tile-leading">
                    <wui-icon icon="tag"></wui-icon>
                </div>
                <div class="wui-list-tile-content">Apple</div>
            </wui-list-tile>

            <wui-list-tile class="wui-list-tile-56" data-key="2">
                <div class="wui-list-tile-leading">
                    <wui-icon icon="tag"></wui-icon>
                </div>
                <div class="wui-list-tile-content">Banana</div>
            </wui-list-tile>

            <wui-list-tile class="wui-list-tile-56" data-key="3">
                <div class="wui-list-tile-leading">
                    <wui-icon icon="tag"></wui-icon>
                </div>
                <div class="wui-list-tile-content">Watermelon</div>
            </wui-list-tile>
        </wui-list>
    </div>
</wui-modal>