.wui-toggle {
    padding-top: 0;
    padding-bottom: 0;
    height: 2.25rem;
    margin-bottom: 1.25rem;
}

wui-toggle {
    display: inline-flex;
    align-items: center;
    height: 2.5rem;
    margin-bottom: 1.25rem;
    padding-top: .5rem;
    padding-bottom: .5rem;

    &:focus, &:hover {
        .wui-toggle-switch {
            outline-width: .5rem;
        }
    }

    &.wui-toggle-checked {
        .wui-toggle-switch {
            left: 100%;
            background-color: var(--wui-color-primary);
            box-shadow: 0 0.125rem 0.125rem 0.075rem rgba(25, 118, 210, 0.25);

            &-outer {
                background-color: rgba(25, 118, 210, 0.2);
            }
        }
    }

    .wui-toggle {
        &-switch {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 0.75rem;
            transition: outline linear .1s, left linear .2s;
            outline: 0 solid rgba(25, 118, 210, 0.2);
            position: absolute;
            left: 0;
            transform: translate(-50%, -50%);
            background-color: white;
            box-shadow: 0 0.125rem 0.125rem 0.075rem rgba(0, 0, 0, 0.25);
        }

        &-switch-outer {
            width: 2.5rem;
            height: 1.5rem;
            border-radius: 0.75rem;
            background-color: #EFEFEF;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-switch-track {
            position: relative;
            height: 0;
            width: 1rem;
            overflow: visible;
        }
    }

    &[disabled] {
        .wui-toggle {
            &-switch {
                background-color: rgba(var(--wui-color-primary-rgb), 0.5);
                box-shadow: 0 0.125rem 0.125rem 0.075rem rgba(200, 200, 200, 0.35);
                outline: none;
            }

            &-switch-outer  {
                background-color: #EFEFEF;
            }
        }
    }
}