<ng-template #pageTemplate>
    <wui-page>
        <wui-app-bar>
            <div class="wui-app-bar-leading">
                <button class="wui-button wui-button-large wui-button-icon wui-button-smooth" wuiToggleDrawer>
                    <wui-icon icon="menu"></wui-icon>
                </button>
            </div>
            <div class="wui-app-bar-title"></div>
            <div class="wui-app-bar-trailing"></div>
        </wui-app-bar>
    
        <div class="wui-page-inner">
            <div class="wui-page-container">
                <markdown ngPreserveWhitespaces [src]="'docs/layout/01-main.md'"></markdown>
            </div>
        </div>
    </wui-page>
</ng-template>