<div class="wui-page">
    <div class="wui-top-bar">
        <a (click)="toggleDrawer()" class="button button-large button-square button-rounded button-smooth">
            <span class="mdi mdi-menu"></span>
        </a>
        <div class="wui-top-bar-content">List 2 Line</div>
    </div>
    <div class="wui-page-inner">
        <div class="wui-page-header">
            <div class="wui-page-header-content text-center">
                <div class="font-32 font-weight-500">List 2 Lines</div>
                <div>List Component</div>
            </div>
        </div>
        <div class="wui-list wui-list-bordered wui-list-hovered">
            <div class="wui-list-item wui-list-item-2-line">
                <div class="leading">
                    <div class="avatar">
                        <span class="mdi mdi-wifi"></span>
                    </div>
                </div>
                <div class="wui-list-item-text text-truncate">
                    <div>Network & Internet</div>
                    <div class="font-12 font-md-14 text-truncate">Wi-Fi, Mobile, Data Usage, Hotspot</div>
                </div>
                <div class="trailing">
                    <span class="mdi mdi-chevron-right icon-24"></span>
                </div>
            </div>
            <div class="wui-list-item wui-list-item-2-line">
                <div class="leading">
                    <div class="avatar">
                        <span class="mdi mdi-devices"></span>
                    </div>
                </div>
                <div class="wui-list-item-text">
                    <div>Connected Devices</div>
                    <div class="font-12 font-md-14 text-truncate">Bluetooth & NFC</div>
                </div>
                <div class="trailing">
                    <span class="mdi mdi-chevron-right icon-24"></span>
                </div>
            </div>
            <div class="wui-list-item wui-list-item-2-line">
                <div class="leading">
                    <div class="avatar">
                        <span class="mdi mdi-bell"></span>
                    </div>
                </div>
                <div class="wui-list-item-text">
                    <div>Apps & Notifications</div>
                    <div class="font-12 font-md-14 text-truncate">Permissions, default apps</div>
                </div>
                <div class="trailing">
                    <span class="mdi mdi-chevron-right icon-24"></span>
                </div>
            </div>
            <div class="wui-list-item wui-list-item-2-line">
                <div class="leading">
                    <div class="avatar">
                        <span class="mdi mdi-battery"></span>
                    </div>
                </div>
                <div class="wui-list-item-text">
                    <div>Battery</div>
                    <div class="font-12 font-md-14 text-truncate">28% - Should last untuil about 7:30 PM</div>
                </div>
                <div class="trailing">
                    <span class="mdi mdi-chevron-right icon-24"></span>
                </div>
            </div>
            <div class="wui-list-item wui-list-item-2-line">
                <div class="leading">
                    <div class="avatar">
                        <span class="mdi mdi-monitor"></span>
                    </div>
                </div>
                <div class="wui-list-item-text">
                    <div>Display</div>
                    <div class="font-12 font-md-14 text-truncate">Wallpaper, sleep, font size</div>
                </div>
                <div class="trailing">
                    <span class="mdi mdi-chevron-right icon-24"></span>
                </div>
            </div>
            <div class="wui-list-item wui-list-item-2-line">
                <div class="leading">
                    <div class="avatar">
                        <span class="mdi mdi-speaker"></span>
                    </div>
                </div>
                <div class="wui-list-item-text">
                    <div>Sound</div>
                    <div class="font-12 font-md-14 text-truncate">Volume, vibration, Do not disturb</div>
                </div>
                <div class="trailing">
                    <span class="mdi mdi-chevron-right icon-24"></span>
                </div>
            </div>
            <div class="wui-list-item wui-list-item-2-line">
                <div class="leading">
                    <div class="avatar">
                        <span class="mdi mdi-sd"></span>
                    </div>
                </div>
                <div class="wui-list-item-text">
                    <div>Storage</div>
                    <div class="font-12 font-md-14 text-truncate">81% used - 6.18 GB free</div>
                </div>
                <div class="trailing">
                    <span class="mdi mdi-chevron-right icon-24"></span>
                </div>
            </div>
            <div class="wui-list-item wui-list-item-2-line">
                <div class="leading">
                    <div class="avatar">
                        <span class="mdi mdi-security"></span>
                    </div>
                </div>
                <div class="wui-list-item-text">
                    <div>Security & Location</div>
                    <div class="font-12 font-md-14 text-truncate">Play Protect, screen lock, fingerprint</div>
                </div>
                <div class="trailing">
                    <span class="mdi mdi-chevron-right icon-24"></span>
                </div>
            </div>
        </div>
    </div>
</div>