table{
    width: 100%;
    border: 1px solid #000;
    border-collapse: collapse;

    th, td{
        text-align:left;
        border-color:#000;
        border-bottom: 1px solid;
        border-right: 1px solid;
        padding:.5em .7em;

        &:last-child{
            border-right:none;
        }
    }

    &.no-border{
        border:none;

        th, td{
            border:none;
        }
    }

    &.compact{
        th, td{
            padding:.25em .35em;
        }
    }

    tfoot{
        display: table-row-group;
    }
}