.text{
    &-center{
        text-align:center;
    }

    &-left{
        text-align:left;
    }

    &-right{
        text-align:right;
    }
}

$prop: (
    "m": "margin",
    "p": "padding"
);

$sides: (
    "t": "top",
    "b": "bottom",
    "l": "left",
    "r": "right"
);

$size: (
    "0": 0,
    "1": .25,
    "2": .5,
    "3": 1,
    "4": 1.5,
    "5": 3
);

$spacer: 1em;

@each $prop_previx, $prop_name in $prop {
    .#{$prop_previx}{
        @each $side_previx, $side_name in $sides {
            &#{$side_previx}{
                @each $size_previx, $size_value in $size{
                    &-#{$size_previx}{
                        #{$prop_name}-#{$side_name}: $spacer * $size_value;
                    }
                }
            }
        }
    }
}

.float{
    &-left{
        float:left;
    }

    &-right{
        float:right;
    }
}

.font{
    &-weight{
        &-bold{
            font-weight:bold;
        }
    }

    &-italic{
        font-style:italic;
    }

    &-underline{
        text-decoration:unerline;
    }
}