@import '../variables/colors.scss';

ul.wui-tab {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    
    &.page-tab {
        padding: 0 1.5rem .5rem;
    }

    li {
        padding-left: .75rem;
        padding-right: .75rem;
        flex: 0 0 auto;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $theme-text;
            height: 3rem;
            font-weight: 500;          
            position: relative;
            text-decoration: none;
            font-size: 1rem;

            &:after {
                content: "";
                width: 100%;
                height: 2px;
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 1;
                background-color: $theme-text;
                opacity: 0;
            }

            &:hover {
                text-decoration: none;
                color: rgba($theme-text, 1);
                
                &:after {
                    opacity: 1;
                }
            }
        }

        &.active {
            a {
                color: $theme-primary;

                &:after {
                    background-color: $theme-primary;
                    opacity: 1;
                }
            }
        }
    }
}