<ng-template #pageTpl>
<wui-page>
    <wui-app-bar>
        <div class="wui-app-bar-leading">
            <button class="wui-button wui-button-large wui-button-icon wui-button-smooth" wuiToggleDrawer>
                <wui-icon icon="menu"></wui-icon>
            </button>
        </div>
        <div class="wui-app-bar-title"></div>
        <div class="wui-app-bar-trailing"></div>
    </wui-app-bar>
    
    <div class="wui-page-inner">
        <div class="wui-page-container">
            <div class="mb-5 d-flex align-items-center">
                <div class="flex-grow-1">
                    <h1>Table</h1>
                </div>
            </div>

            <h2>Basic Table</h2>
            <div class="wui-table-responsive wui-edge-fix">
                <table class="wui-table wui-table-hover inside-container">
                    <thead>
                        <tr>
                            <th>Nama</th>
                            <th>Grup</th>
                            <th class="text-end">Jumlah</th>
                            <th></th>
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr>
                            <td>Moch. Rizal Rachmadani</td>
                            <td>Investor</td>
                            <td class="text-end">500,000</td>
                            <td class="action-col sticky-right bg-white">
                                <button class="wui-button wui-button-icon wui-button-smooth">
                                    <wui-icon icon="dots-vertical"></wui-icon>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>Selvi Murniati</td>
                            <td>Investor</td>
                            <td class="text-end">500,000</td>
                            <td class="action-col sticky-right bg-white">
                                <button class="wui-button wui-button-icon wui-button-smooth">
                                    <wui-icon icon="dots-vertical"></wui-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
    
                    <tfoot>
                        <tr>
                            <th>Total</th>
                            <th></th>
                            <th class="text-end">1,000,000</th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div class="wui-table-responsive">
                <table wui-table>
                    <tr wui-row></tr>
                </table>
            </div>
        </div>
    </div>
</wui-page>
</ng-template>