laris
<!-- <div class="wui-page">
    <div class="wui-top-bar">
        <a (click)="toggleDrawer()" class="button button-square button-rounded button-large button-smooth">
            <span class="mdi mdi-menu"></span>
        </a>
    </div>
    <div class="wui-page-inner">
        <div class="p-3 p-md-4">

            <div class="d-flex mb-3 mb-md-4 align-items-center">
                <button class="button button-square button-rounded button-primary button-large mr-2">
                    <span class="mdi mdi-content-save-outline"></span>
                </button>
                <button class="button button-primary mr-2" disabled>BUTTON</button>
                <button class="button button-primary button-smooth" disabled>SMOOTH</button>
            </div>

            <div class="d-flex mb-3 mb-md-4">
                <button class="button button-primary mr-2">
                    <span class="mdi mdi-check mr-3"></span> BUTTON
                </button>
                <button class="button button-primary button-smooth">
                    <span class="mdi mdi-check mr-3"></span> SMOOTH
                </button>
            </div>

            <div class="d-flex mb-3 mb-md-4">
                <button class="button button-primary button-smooth mr-2">
                    <span class="mdi mdi-chevron-left leading"></span> PREV
                </button>
                <button class="button button-primary button-smooth">
                    NEXT <span class="mdi mdi-chevron-right trailing"></span>
                </button>
            </div>

            <wui-form-field class="boxed mb-3 mb-md-4">
                <label for="">Email</label>
                <input type="email" wuiInput>
            </wui-form-field>

            <wui-form-field class="boxed">
                <label for="">Password</label>
                <input type="password" wuiInput>
            </wui-form-field>
        </div>

        <div class="wui-list wui-list-bordered">
            <div class="wui-list-item">
                <div class="leading">
                    <label class="wui-checkbox">
                        <input type="checkbox">
                        <span class="wui-checkbox-mark"></span>
                    </label>
                </div>
                <div class="wui-list-item-text">Checkbox</div>
            </div>
            <div class="wui-list-item">
                <div class="leading">
                    <label class="wui-checkbox">
                        <input type="checkbox">
                        <span class="wui-checkbox-mark"></span>
                    </label>
                </div>
                <div class="wui-list-item-text">Checkbox 2</div>
            </div>
        </div>

        
        <div class="wui-list wui-list-bordered">
            <div class="wui-list-item">
                <div class="leading">
                    <label class="wui-radio">
                        <input type="radio" name="radio">
                        <span class="wui-radio-mark"></span>
                    </label>
                </div>
                <div class="wui-list-item-text">Radio</div>
            </div>
            <div class="wui-list-item">
                <div class="leading">
                    <label class="wui-radio">
                        <input type="radio" name="radio">
                        <span class="wui-radio-mark"></span>
                    </label>
                </div>
                <div class="wui-list-item-text">Radio 2</div>
            </div>
        </div>

        <div class="wui-list wui-list-bordered">
            <div class="wui-list-item">
                <div class="wui-list-item-text">Toggle</div>
                <div class="trailing">
                    <label class="wui-toggle">
                        <input type="checkbox">
                        <span class="wui-toggle-mark"></span>
                    </label>
                </div>
            </div>
            <div class="wui-list-item">
                <div class="wui-list-item-text">Toggle 2</div>
                <div class="trailing">
                    <label class="wui-toggle">
                        <input type="checkbox">
                        <span class="wui-toggle-mark"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div> -->