<wui-app>
    <wui-drawer>
        <div class="wui-drawer-inner" wuiScroll>
            <div class="wui-drawer-header">
                <wui-icon svgIcon="mdiFire"></wui-icon>
                <div class="wui-drawer-header-title font-weight-500 px-4 pt-0">Wajek UI</div>
                <div class="wui-drawer-header-subtitle">UI Library for Wajek</div>
            </div>

            <wui-drawer-item icon="play-circle" routerLink="/home" routerLinkActive="active">Memulai</wui-drawer-item>
            <wui-drawer-item icon="collage" routerLink="/layout" routerLinkActive="active">Layout</wui-drawer-item>  

            <div class="wui-drawer-divider">
                <div class="wui-drawer-divider-label">KOMPONEN</div>
            </div>
            <wui-drawer-item icon="menu" routerLink="/menu" routerLinkActive="active">Menu</wui-drawer-item>  
        </div>
    </wui-drawer>

    <router-outlet></router-outlet>
</wui-app>