<wui-app>
    <wui-drawer>
        <div class="wui-drawer-inner" wuiScroll>
            <div class="wui-drawer-header">
                <div class="wui-drawer-header-avatar">
                    <img src="https://randomuser.me/api/portraits/men/86.jpg" alt="">
                </div>
                <div class="wui-drawer-header-title">Moch. Rizal Rachmadani</div>
                <div class="wui-drawer-header-subtitle">mochrira@gmail.com</div>
            </div>
            <wui-drawer-item icon="home-outline" routerLink="/home" routerLinkActive="active">Dashboard</wui-drawer-item>
            <div class="wui-drawer-divider">
                <div class="wui-drawer-divider-label">TRANSAKSI</div>
            </div>
            <wui-drawer-item icon="cart" routerLink="/list" routerLinkActive="active">Pembelian</wui-drawer-item>
            <wui-drawer-item icon="sort" routerLink="/sortable" routerLinkActive="active">Sortable</wui-drawer-item>

            <div class="wui-drawer-divider">
                <div class="wui-drawer-divider-label">LAYOUT</div>
            </div>
            <wui-drawer-item icon="login-variant" routerLink="/signin" routerLinkActive="active">Sign In</wui-drawer-item>
            <wui-drawer-item icon="sort" routerLink="/signout" routerLinkActive="active">Sign Out</wui-drawer-item>
        </div>
    </wui-drawer>

    <router-outlet></router-outlet>
</wui-app>