ul.wui-breadcrumb {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 3.75rem;

    li {
        font-size: 0.875rem;
        margin-bottom: 0;
        font-weight: 500;
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
    }

    li:not(:last-child) {
        position: relative;

        &:after {
            content: "\F035F";
            vertical-align: middle;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-family: 'Material Design Icons';
            font-size: 1.5rem;
            width: 2rem;
            height: 2rem;
            right: .25rem;
            top: 0;
        }
    }
}