@import "../variables/colors.scss";

.wui-button-fab {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $theme-primary;
    color: white;
    border-radius: 50%;
    border: none;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

.wui-button, .wui-icon-button {
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;

    &:hover {
        background-color: rgba(0,0,0,0.04);
    }

    &.primary {
        color: $theme-primary;
    }

    &.primary {
        background-color: $theme-primary;
        color: white;
    }

}

.wui-icon-button {
    width: 3rem;
    border-radius: 50%;
    height: 3rem;
    padding: 0;

    &.small {
        width: 2rem;
        height: 2rem;
    }

}

.wui-button {
    padding-right: 1rem;
    padding-left: 1rem;
    height: 2.25rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: .25rem;
    font-weight: 500;
    font-family: 'Roboto';
    font-size: .875rem;
    cursor: pointer;
    vertical-align: middle;
    opacity: 1;
    border:none;

    &:hover {
        background-color: rgba(0,0,0,0.04);
    }

    &:focus {
        background-color: var(--theme-button-focus-bg, $theme-button-focus-bg);
    }

    &.large {
        height: 2.75rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        font-size: 1rem;
    }

    &.block {
        width: 100%;
    }

}

