@media screen {
    @import "bootstrap.scss";
    @import "../variables/colors.scss";
    @import "../variables/defaults.scss";

    * {
        -webkit-tap-highlight-color: transparent;
        box-sizing:border-box;
        outline:none;
    }

    html, body{
        font-family: 'Inter', sans-serif;
        color: var(--wui-color-blueGrey-800);
        width: 100%;
        height: 100%;
        overflow: hidden;
        line-height: 1.5;
    }

    body {
        font-size: .875rem;
    }
    
    a {
        color: var(--wui-color-blue-700);
        cursor: pointer;
        text-decoration: none;

        &:hover {
            color: var(--theme-text-link-hover, darken($theme-primary, 10%));
            text-decoration: underline;
        }
    }

    wui-app {
        position: absolute;
        top: 0; left: 0;
        display: flex;
        width: 100%;
        height: 100%;

        wui-drawer {
            flex: 0 0 auto;
        }

        div.wui-app-main {
            flex: 1 1 auto;
            position: relative;
        }

        wui-nav {
            flex: 1 1 auto;
            position: relative;
        }
    }

    button,
    input,
    optgroup,
    select,
    textarea {
      font-family: inherit;
      font-size: 100%;
      line-height: 1.15;
      margin: 0;
    }

    h1, h2, h3, h4, h5, h6 {
        color: var(--wui-color-blueGrey-900);
    }
    
    @import "loading.scss";
    @import "scrollbar.scss";
    @import "box.scss";
    @import "table.scss";
    @import "ripple.scss";
    @import "utils.scss";
    
    @import "tooltip.scss";
    @import "list.scss";
    @import "pagination.scss";
    @import "breadcrumb.scss";
    @import "searchbox.scss";
    @import "modal.scss";

    @import "selection.scss";
    @import "buttons.scss";

    @import "normalize.scss";
    @import "backdrop.scss";
    @import "icon.scss";
    @import "avatar.scss";
    @import "appbar.scss";
    @import "drawer.scss";
    @import "page.scss";
    @import "formfields.scss";
    @import "menu.scss";
    @import "loading.scss";
    @import "tabs.scss";
    @import "snackbar.scss";
    @import "sortable.scss";

}