@import '../variables/colors.scss';

.wui-drawer {
    flex-grow: 0;
    flex-shrink: 0;
    width: 16rem;
    transition: all ease .2s;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-right: 1px solid var(--theme-border, $theme-border);

    .wui-drawer-header {
        padding: 1.25rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        img.avatar {
            margin-bottom: .75rem;
            width: 4rem;
            height: 4rem;
            border-radius: 2rem;
        }

        &-title {
            font-size: 1.25rem;
            line-height: 1.25rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &-sub-title {
            font-size: .875rem;
            line-height: .875rem;
            padding-top: .375rem;
        }
    }

    .wui-list {
        .wui-list-subheader {
            font-size: .75rem;
        }

        .wui-list-item {
            font-weight: 500;
            font-size: .875rem;
    
            &.active {
                color: var(--theme-primary, $theme-primary);
                position: relative;
    
                &:hover {
                    background-color: transparent;
                }
    
                &:before {
                    z-index: -1;
                    display: block;
                    content: "";
                    width: 100%;
                    height: 100%;
                    background-color: var(--theme-primary, $theme-primary);
                    opacity: .125;
                    position: absolute;
                    left: 0; top: 0;
                }
            }
        }
    }
}