@import '../variables/colors.scss';

wui-drawer {
    position: relative;
    width: 100%;
    max-width: 230px;
    padding-right: 1.5rem;
    border-right: 1px solid $theme-border;

    &-header {
        padding-top: 1.5rem;
    }

    .wui-drawer {

        &-avatar {
            padding-left: 1.5rem;
            padding-bottom: .5rem;
        }

        &-userinfo {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 1rem 0rem 1rem 1.5rem;
            display: flex;
            color: $theme-text;
            text-decoration: none;

            &:hover {
                color: $theme-primary;
            }

            &-caption {
                flex: 1 1 auto;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &-title {
                font-size: 1rem;
                font-weight: 500;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &-subtitle {
                font-size: .75rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        &-primary, &-secondary {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        &-inner {
            background-color: white;
            overflow-y: auto;
            opacity: 0;
            transform: translateX(-100%);
            transition: transform .2s ease-in-out;
            padding-top: 1.5rem;
        }

        &-divider {
            margin-top: 1rem;
            display: block;
            border-top: 1px solid $theme-border;
            padding-top: 1rem;
            padding-bottom: .5rem;

            &.no-border {
                border-top: none;
                margin-top: 0;
            }

            &-label {
                font-weight: bold;
                font-size: .75rem;
                padding-left: 1.5rem;
                color: map-get($theme-black, "54");
            }
        }
    }

    &.has-secondary-menu {
        wui-drawer-header {
            a.menu-toggle {
                cursor: pointer;

                &:hover {
                    background-color: rgba(#000, .04);
                }

                wui-icon {
                    display: inline-flex;
                }
            }
        }
    }

    &.primary-menu-active {
        .wui-drawer-primary {
            display: block;
        }
        .wui-drawer-secondary {
            display: none;
        }
        wui-drawer-header {
            .menu-toggle {
                wui-icon {
                    transition: transform linear .1s;
                    transform: rotate(0deg);
                }
            }
        }
    }

    &.secondary-menu-active {
        .wui-drawer-primary {
            display: none;
        }
        .wui-drawer-secondary {
            display: block;
        }
        wui-drawer-header {
            .menu-toggle {
                wui-icon {
                    transition: transform linear .1s;
                    transform: rotate(-180deg);
                }
            }
        }
    }

    &.show {
        transition: transform .2s linear 0s;

        .wui-drawer {
            &-inner {
                opacity: 1;
                transform: translateX(0);
                z-index: 99;
            }
        }
    }

    &-header {
        padding-bottom: .75rem;
        display: block;

        .avatar-outer {
            padding: 1rem 1rem .5rem;
        }

        .menu-toggle {
            display: flex;
            align-items: center;
            padding: .5rem 1rem;
            font-weight: normal;
            opacity: 1;
            color: rgba(#000, .87);
            width: 100%;

            .title {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 1.25rem;
                width: 100%;
            }
    
            .sub-title {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: .875rem;
                color: rgba(#000, .5);
                width: 100%;
            }

            .caption {
                flex: 1 1 auto;
                overflow: hidden;
            }

            wui-icon {
                flex: 0 0 auto;
                display: none;
            }
        }
    }

    &-item {
        font-size: .875rem;
        font-weight: 500;
        line-height: 1.25rem;
        padding: .75rem 1.5rem;
        position: relative;
        cursor: pointer;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: flex;
        align-items: center;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;

        wui-icon {
            margin-right: 1.5rem;
        }

        &.active {
            background-color: rgba($theme-primary, .12);
            color: $theme-primary;            
            font-weight: 500;
        }

        &:hover:not(.active) {
            color: $theme-primary;
        }
    }
    
}


@include media-breakpoint-up(md) {
    wui-drawer {
        .wui-drawer {
            &-inner {
                opacity: 1;
                transform: translateX(0);
                transition: none;               
            }
        }

        .wui-backdrop {
            display: none;
            z-index: -1;
        }
    }
}