@import '../variables/colors.scss';

wui-form-field {
    width: 100%;
    position: relative;
    display: block;
    margin-bottom: 1.25rem;

    // layout

    .wui-form-field {
        &-flex {
            display: flex;
            z-index: 0;
            width: 100%;
            height: 100%;
            position: relative;

            // border behavior : normal
            &:before {
                content: "";
                display: block;
                height: 1px;
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: rgba(0,0,0,0.08);
                z-index: 0;
            }

            &:after {
                content: "";
                display: block;
                height: 2px;
                background-color: $theme-primary;
                width: 0;
                left: 50%;
                opacity: 0;
                position: absolute;
                bottom: 0;
                transition: all .15s ease-in-out;
            }
        }

        &-infix {
            flex: 1 1 auto;
            position: relative;
            display: flex;
            align-items: center;
        }

        &-prefix, &-suffix {
            display: flex;
            align-items: center;
            line-height: 1.5rem;
        }

        &-prefix {
            padding-right: .75rem;
        }

        &-suffix {
            padding-left: .75rem;
        }

        &-input {
            &-prefix, &-suffix {
                opacity: 0;
                padding-bottom: 2px;
                flex: 0 1 auto;
                height: 3rem;
                padding-top: 1rem;
                display: inline-flex;
                align-items: center;
            }

            &-prefix {
                padding-right: .75rem;
            }

            &-suffix {
                padding-left: .75rem;
            }
        }

        &-hint {
            padding-top: .375rem;
            font-size: .75rem;
            line-height: 1rem;
        }
    }

    // border behavior : focused
    &.is-focused {
        .wui-form-field {
            &-flex {
                &:after {
                    opacity: 1;
                    display: block;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                    z-index: 1;
                }
            }
        }
    }

    &.is-focused, &.has-content {
        .wui-form-field {
            &-input{
                &-prefix, &-suffix {
                    opacity: 1;
                }
            }
        }       
    }

    // input behavior : normal

    input, textarea, select {
        width: 100%;
        border: none;
        position: relative;
        z-index: 1;
        background-color: transparent;
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
        -webkit-appearance: none;
        padding-bottom: 2px;
        box-sizing: border-box;

        &::placeholder {
            opacity: 0;
        }
    }

    input, select {
        height: 3rem;
        padding-left: 0;
        padding-right: 0;
        padding-top: 1rem;
    }

    textarea {
        height: auto;
        padding: 1.5rem 0 2px;
        width: 100%;
    }

    select {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink= "http://www.w3.org/1999/xlink" viewBox="0 0 24 24"><path fill="rgba(0,0,0,.67)" d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" /></svg>');
        background-size: 1.5rem 1.5rem;
        background-repeat: no-repeat;
        background-position: calc(100% - .375rem) .75rem;
    }

    input[type="date"], input[type="datetime-local"] {
        opacity: 0;
        -webkit-appearance: none;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink= "http://www.w3.org/1999/xlink" viewBox="0 0 24 24"><path fill="rgba(0,0,0,.67)" d="M19,4H18V2H16V4H8V2H6V4H5C3.89,4 3,4.9 3,6V20A2,2 0 0,0 5,22H19A2,2 0 0,0 21,20V6A2,2 0 0,0 19,4M19,20H5V10H19V20M19,8H5V6H19V8M12,13H17V18H12V13Z" /></svg>');
        background-size: 1.5rem 1.5rem;
        background-repeat: no-repeat;
        background-position: calc(100% - .375rem) .75rem;

        &::-webkit-inner-spin-button, &::-webkit-calendar-picker-indicator {
            background: transparent;
            bottom: 0;
            color: transparent;
            cursor: pointer;
            height: auto;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: auto;
            // display: none;
            // -webkit-appearance: none;
        }
    }

    // input behavior : focused

    &.is-focused {
        input, textarea {
            &::placeholder {
                opacity: 1;
            }
        }
    }

    // label behavior : normal

    label {
        position: absolute;
        left: 0;
        top: .75rem;
        line-height: 1.5rem;
        transition: all .15s ease-in-out;
    }

    // label behavior : focused & has content

    &.is-focused, &.has-content {
        label {
            top: 0;
            font-size: .75rem;
            line-height: 1rem;
        }

        input[type="date"], input[type="datetime-local"] {
            opacity: 1;
        }
    }

    // label behavior : focused only

    &.is-focused {
        label {
            color: $theme-primary;
        }
    }

    // has error styling
    &.has-error {
        label {
            color: #E82C2C;
        }

        .wui-form-field {
            &-flex {
                &::before {
                    background-color: #E82C2C;
                }

                &::after {
                    background-color: #E82C2C;
                }

                input, select, textarea {
                    color: #E82C2C;
                }
            }

            &-hint {
                color: #E82C2C;
            }
        }
    }
}