wui-icon.mdi {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;

    &::before {
        font-size: 1.5rem;
        line-height: 1rem;
    }

    &.wui-icon {
        &-12 {
            width: .75rem;
            height: .75rem;
            font-size: .75rem;
        }

        &-14 {
            width: .875rem;
            height: .875rem;
            font-size: .875rem;
        }

        &-16 {
            width: 1rem;
            height: 1rem;
            font-size: 1rem;
        }
    }

}