@import '../../scss/variables/colors.scss';

.wui-list {
    display: block;
    margin-top: .5rem;
    margin-bottom: .5rem;

    .wui-divider {
        border-bottom: 1px solid var(--theme-border, $theme-border);
        margin: 0 !important;
    }

    .wui-list-subheader {
        padding: 1rem 1.25rem .5rem;
        font-size: .875rem;
        color: rgba(0,0,0,0.5);
        font-weight: 600;
    }

    .wui-list-item {
        display: flex;
        align-items: center;
        padding: 0 1.5rem;
        height: 3rem;

        &-header {
            padding: 0 5.5rem;
            font-weight: 600;
            font-size: .75rem;
            color: rgba(0,0,0,.47)
        }

        &-2-line {
            height: 4.5rem;
        }

        > div.leading {
            padding-right: 2rem;
            flex-grow: 0;
        }

        > div.trailing {
            padding-left: 2rem;
            flex-grow: 0;
        }

        &-text {
            flex-grow: 1;
            .sub-title {
                font-size: .875rem;
            }
        }
    }

    &-tight {
        .wui-list-item {
            padding: 0 1.5rem;
        }

        .wui-list-subheader {
            padding: 1rem 1.5rem;
        }
    }

    &-hovered {
        .wui-list-item {
            cursor: pointer; 
            
            &:hover {
                background-color: rgba(0,0,0,0.05);
            }

            &.wui-list-item-header {
                &:hover {
                    background-color: transparent;
                }
            }
        }
    }

    &-bordered {
        .wui-list-item:not(:last-child) {
            border-bottom: 1px solid var(--theme-border);

            &.wui-list-item-header {
                border-bottom-color: rgba(0,0,0,.15);
            }
        }
    }
}