@import '../variables/colors.scss';

wui-loading{
  display:block;

  &.mode-indeterminate{
      overflow: hidden;
      width: 100%;
      height: .25rem;
      background-color: #B3E5FC;
      display:block;
      position:relative;

      .indeterminate {
          position:relative;
          width: 100%;
          height: 100%;
      
          &:before {
              content: '';
              position: absolute;
              height: 100%;
              background-color: map-get($theme, "500");
              animation: indeterminate_first 1.5s infinite ease-out;
          }
          
          &:after {
              content: '';
              position: absolute;
              height: 100%;
              background-color: map-get($theme, "300");
              animation: indeterminate_second 1.5s infinite ease-in;
          }
      }
      
      @keyframes indeterminate_first {
          0% {
              left: -100%;
              width: 100%;
          }
          100% {
              left: 100%;
              width: 10%;
          }
      }
      
      @keyframes indeterminate_second {
          0% {
              left: -150%;
              width: 100%;
          }
          100% {
              left: 100%;
              width: 10%;
          }
      }
  }

  &.mode-linear{
      overflow: hidden;
      width: 100%;
      height: .25rem;
      background-color: map-get($theme, "50");
      display:block;
      position:relative;

      .linear{
          position:relative;
          width: 100%;
          height: 100%;

          .pos{
              position:absolute;
              display:block;
              height:100%;
              top:0;left:0;
              background-color: map-get($theme, "500");
          }
      }
  }

  &.mode-circular{
      .loader {
          position: relative;
          margin: 0 auto;
          overflow:hidden;
          &:before {
            content: '';
            display: block;
            padding-top: 100%;
          }
        }
        
        .circle {
          animation: rotate 2s linear infinite;
          height: 100%;
          transform-origin: center center;
          width: 100%;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
        }
        
        .path {
          stroke-dasharray: 1, 200;
          stroke-dashoffset: 0;
          stroke: var(--theme-primary, $theme-primary);
          animation: dash 1.5s ease-in-out infinite;
          stroke-linecap: round;
        }
        
        @keyframes rotate {
          100% {
            transform: rotate(360deg);
          }
        }
        
        @keyframes dash {
          0% {
            stroke-dasharray: 1, 200;
            stroke-dashoffset: 0;
          }
          50% {
            stroke-dasharray: 89, 200;
            stroke-dashoffset: -35px;
          }
          100% {
            stroke-dasharray: 89, 200;
            stroke-dashoffset: -124px;
          }
        }
  }

}

wui-loading-dialog {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  opacity: 0;

  .wui-loading-dialog-inner {
    z-index: -1;
  }

  &.show {
    z-index: 10000;
    opacity: 1;

    .wui-loading-dialog-inner {
      z-index: 1000;
      position: relative;
      width: 3rem;
      height: 3rem;
      background-color: white;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 
        0 1px 10px 0 rgba(0,0,0,0.12), 
        0 2px 4px -1px rgba(0,0,0,0.20);
    }
  }
}