@keyframes menuShow {
    0% {
        opacity: 0;
        transform: translate(.25rem, -.25rem);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

wui-menu {
    position: fixed;
    display: block;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
    background-color: white;
    border-radius: .25rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-top: .5rem;
    min-width: 7rem;
    max-width: 17.5rem;
    opacity: 0;
    z-index: -1;
    overflow-y: auto;

    &.show {
        opacity: 1;
        z-index: 999;
    }

    &-item {
        display: flex;
        align-items: center;
        padding: 0 1.5rem;
        height: 3rem;
        font-size: .875rem;
        line-height: 1rem;
        font-weight: 500;
        text-decoration: none;
        color: rgba(0,0,0,.67);

        &:hover {
            background-color: rgba(0,0,0, .04);
            cursor: pointer;
        }

        wui-icon {
            line-height: 1rem;
        }
    }

    .wui-menu {
        &-divider {
            display: block;
            border-top: 1px solid rgba(0,0,0, .08);
            margin-top: .5rem;
            margin-bottom: .5rem;
        }

        &-item {
            &-leading {
                width: 2.75rem;
                flex: 0 0 auto;
            }
    
            &-content {
                flex: 1 1 auto;
            }
        }
    }

    &.compact {
        wui-menu-item {
            height: 2.25rem;
        }
    }
}