wui-modal {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 999;

    .wui-modal {
        &-inner {
            width: calc(100% - 2rem);
            max-width: 350px;
            border-radius: .5rem;
            padding: .5rem;
            box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.20);
            background-color: white;
            z-index: 100;
        }

        &-header {
            font-size: 1.25rem;
            padding-top: .75rem;
            line-height: 1.25rem;
            padding-left: 1rem;
            padding-right: 1rem;
            font-weight: bold;
        }

        &-content {
            padding-top: 1.25rem;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-bottom: 1.75rem;
        }

        &-footer {
            display: flex;
            justify-content: flex-end;
        }
    }


}

body.modal-open {
    height: 100vh;
    overflow-y: hidden;
    padding-right: 15px;
}