@keyframes modalShow {

    0% {
        transform: scale(.5);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }

}

@keyframes modalHide {

    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(.5);
        opacity: 0;
    }

}

@keyframes showModalFromBottom {

    0% {
        transform: translate(0%, 100%);
        opacity: 0;
    }

    100% {
        transform: translate(0%, 0%);
        opacity: 1;
    }

}

@keyframes hideModalToBottom {

    0% {
        transform: translate(0%, 0%);
        opacity: 1;
    }

    100% {
        transform: translate(0%, 100%);
        opacity: 0;
    }

}


.wui-modal {
    background-color: white;
    overflow: hidden;
    border-radius: 1rem;

    &-header {
        font-size: 1.25rem;
        line-height: 1.25rem;
        font-weight: 500;
        color: rgba(0,0,0,.87);
        padding: 1.25rem 1.5rem;
        width: 100%;
        flex: 0 0 auto;

        .wui-button:last-child {
            margin-right: -.375rem;
        }
    }

    &-content {
        padding: 0 1.5rem 1.25rem;
        overflow: auto;
        flex: 1 1 auto;
        position: relative;

        &-no-padding {
            padding: 0;
        }
    }

    &-footer {
        padding: 0 1.5rem 1.25rem;
        flex: 0 0 auto;
    }

    &.show {
        display: flex;
        justify-content: center;

        &.mode {
            &-center {
                align-items: center;

                > .wui-modal-inner {
                    animation-name: modalShow;
                    animation-duration: .2s;
                    animation-fill-mode: forwards;
                }
            }

            &-bottom {
                align-items: end;

                > .wui-modal-inner {
                    animation-name: showModalFromBottom;
                    animation-duration: .2s;
                    animation-fill-mode: forwards;
                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
        }

        &.leave {

            &.mode {
                &-center {
                    .wui-modal-inner {
                        animation-name: modalHide;
                        animation-duration: .2s;
                        animation-fill-mode: forwards;
                    }
                }

                &-bottom {
                    .wui-modal-inner {
                        animation-name: hideModalToBottom;
                        animation-duration: .2s;
                        animation-fill-mode: forwards;
                    }
                }
            }
        }
    }


}