wui-page {
    position: absolute;
    top: 0; left: 0;
    min-height: 100%;
    width: 100%;
    background-color: white;
    display: block;

    &.enterRoot {
        display: block;
    }

    &.enterForward {
        animation: pageEnterForward ease;
        animation-fill-mode: forwards;
    }

    &.enterBackward {
        animation: pageEnterBackward ease;
        animation-fill-mode: forwards;
    }

    &.leave {
        animation: pageLeave ease;
        animation-fill-mode: forwards;
    }

    &-inner {
        flex: 1 1 auto;
        position: relative;
        overflow-y: auto;
    }

    &-header {
        position: relative;
        max-height: 380px;
        overflow: hidden;

        &:before {
            content: "";
            display: block;
            width: 100%;
            padding-top: 56.25%;
        }

        &-content {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

@keyframes pageEnterForward {
    0% {
        opacity: 0;
        transform: translateY(4rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pageEnterBackward {
    0% {
        opacity: 0;
        transform: translateY(-4rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pageLeave {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: 4rem;
    }
}