wui-page-host {
    div.cdk-overlay-backdrop {
        z-index: 0;
    }

    div.cdk-global-overlay-wrapper {
        z-index: 0;
    }
}

wui-page {
    position: absolute;
    top: 0; left: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    z-index: 9;

    .wui-page {
        &-header {
            flex: 0 0 auto;
            width: 100%;
            position: relative;
        }

        &-inner {
            flex: 1 1 auto;
            overflow-y: auto;
            width: 100%;
            position: relative;

            > .wui-page-container {
                padding-top: 3.75rem;
                padding-bottom: 3.75rem;
            }
        }

        &-footer {
            flex: 0 0 auto;
            width: 100%;
        }

        &-container {
            width: 100%;
            margin: auto;

            > wui-list {
                margin-left: -1.5rem;
                margin-right: -1.5rem;
            }
        }
    }

    &.middle-center {
        .wui-page-inner {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@media screen and (max-width: 767px) {

    .wui-page {
        &-container {
            max-width: none;
            padding: 0 1rem;
        }
    }

}

@media screen and (min-width: 768px) {
    .wui-page {
        &-container {
            max-width: 540px;
            padding: 0 1.5rem;
        }
    }
}

@media screen and (min-width: 992px) {
    .wui-page {
        &-container {
            max-width: 720px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .wui-page {
        &-container {
            max-width: 960px;
        }
    }
}

@media screen and (min-width: 1400px) {
    .wui-page {
        &-container {
            max-width: 1140px;
        }
    }
}

@media screen and (min-width: 1600px) {
    .wui-page {
        &-container {
            max-width: 1320px;
        }
    }
}