.wui-table-responsive {
    width: 100%;
    overflow-x: auto;
    overflow-y: no-scroll;

    &.inside-container {
        width: calc(100% + 3rem);
        margin-left: -1.5rem;
        margin-right: -1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .wui-table-responsive {
        &.inside-container {
            width: calc(100% + 2rem);
            margin-left: -1rem;
            margin-right: -1rem;
        }
    }
}

.wui-table {
    @extend .table;
    margin-bottom: 0;

    tr {
        border-bottom: 1px solid #DEDEDE;

        td, th {
            border-bottom: none;
            padding-left: 1rem;
            padding-right: 1rem;

            &:first-child {
                padding-left: 1.5rem;
            }
    
            &:last-child {
                padding-right: 1.5rem;
            }
    
            &.action-col {
                padding-top: 0;
                padding-bottom: 0;
                vertical-align: middle;
                width: 0.1%;
                white-space: nowrap;
                position: sticky;
                right: 0;
                background: linear-gradient(to right, transparent, #fff);
            }
        }

        th {
            font-weight: bold !important;
        }
        
        &:hover {
            background-color: rgba(0,0,0,0.04);
        }

        &.no-border {
            border-bottom: none;
        }
    }

    thead {
        z-index: 0;
        position: relative;

        tr {
            border-bottom: 1px solid #CDCDCD;

            th {
                vertical-align: middle;
                border-bottom: none;
            }
        }
    }

    &.wui-table-hover {
        @extend .table-hover;
    }

    > :not(caption) > * > * {
        color: inherit;
    }
}

@media screen and (max-width: 768px) {
    .wui-table  {
        tr th, tr td {
            padding-left: .75rem;
            padding-right: .75rem;

            &:first-child {
                padding-left: 1rem;
            }

            &:last-child {
                padding-right: 1rem;
            }
        }
    }
}