@mixin font-sizes($breakpoint: null) {
    .font {
        &#{if($breakpoint != null, "-" + $breakpoint, "")} {
            &-12 { font-size: .75rem; }
            &-14 { font-size: .875rem; }
            &-16 { font-size: 1rem; }
            &-18 { font-size: 1.125rem; }        
            &-20 { font-size: 1.25rem; }
            &-24 { font-size: 1.5rem; }
            &-28 { font-size: 1.75rem; }
            &-32 { font-size: 2rem; }
            &-48 { font-size: 3rem; }
            &-64 { font-size: 4rem; }
        }

        &-italic{
            font-style: italic;
        }

        &-brand {
            font-family: 'Montserrat';
        }
    }
}
@include font-sizes;

@include media-breakpoint-down(sm) { @include font-sizes("sm"); }
@include media-breakpoint-up(sm) { @include font-sizes("md"); }
@include media-breakpoint-up(md) { @include font-sizes("lg"); }
@include media-breakpoint-up(lg) { @include font-sizes("xl"); }

@mixin max-width($breakpoint: null) {
    .mw {
        &#{if($breakpoint != null, "-" + $breakpoint, "")} {
            &-400 { max-width: 400px; }
            &-500 { max-width: 500px; }
            &-600 { max-width: 600px; }
            &-700 { max-width: 700px; }
            &-800 { max-width: 800px; }
        }
    }
}
@include max-width;
@include media-breakpoint-down(sm) { @include max-width("sm"); }
@include media-breakpoint-up(sm) { @include max-width("md"); }
@include media-breakpoint-up(md) { @include max-width("lg"); }
@include media-breakpoint-up(lg) { @include max-width("xl"); }

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 24px;
}

.overflow {
    &-x {
        &-auto {
            overflow-x: auto;
        }

        &-hidden {
            overflow-x: hidden;
        }

        &-visible {
            overflow-x: visible;
        }
    }

    &-y {
        &-auto {
            overflow-y: auto;
        }

        &-hidden {
            overflow-y: hidden;
        }

        &-visible {
            overflow-y: visible;
        }
    }
}

span.mdi {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;

    .icon {
        &-32 {
            font-size: 2rem;
            height: 2rem;
        }

        &-16 {
            font-size: 1rem;
            width: 1rem;
            height: 1rem;
        }
    }
}

.row {
    margin-left: -1rem;
    margin-right: -1rem;

    > div {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

div.avatar {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.25rem;
    background-color: var(--theme-avatar-bg, $theme-avatar-bg);
}