h1, h2, h3, h4, h5, h6 {
    display:block;
    line-height: 1.2;
    font-weight: 500;
}
h1{ font-size: 2.5rem; }
h2{ font-size: 2rem; }
h3{ font-size: 1.75rem; }
h4{ font-size: 1.5rem; }
h5{ font-size: 1.25rem; }
h6{ font-size: 1rem; }

.title {
    font-size: 1rem;
}

.sub-title {
    font-size: .875rem;
    color: $theme-light-text;
}

@mixin font-weight($breakpoint: null) {
    .font-weight {
        &#{if($breakpoint != null, "-" + $breakpoint, "")} {
            &-100 { font-weight: 100; }
            &-200 { font-weight: 200; }
            &-300 { font-weight: 300; }
            &-400, &-normal { font-weight: 400; }
            &-500 { font-weight: 500; }
            &-600 { font-weight: 600; }
            &-700, &-bold { font-weight: 700; }
        }
    }
}

@include font-weight;
@include media-breakpoint-down(sm) { @include font-weight("sm"); }
@include media-breakpoint-up(sm) { @include font-weight("md"); }
@include media-breakpoint-up(md) { @include font-weight("lg"); }
@include media-breakpoint-up(lg) { @include font-weight("xl"); }

@mixin font-sizes($breakpoint: null) {
    .font {
        &#{if($breakpoint != null, "-" + $breakpoint, "")} {
            &-12 { font-size: .75rem; }
            &-14 { font-size: .875rem; }
            &-16 { font-size: 1rem; }
            &-18 { font-size: 1.125rem; }        
            &-20 { font-size: 1.25rem; }
            &-24 { font-size: 1.5rem; }
            &-28 { font-size: 1.75rem; }
            &-32 { font-size: 2rem; }
            &-48 { font-size: 3rem; }
            &-64 { font-size: 4rem; }
        }
    }
}

@include font-sizes;
@include media-breakpoint-down(sm) { @include font-sizes("sm"); }
@include media-breakpoint-up(sm) { @include font-sizes("md"); }
@include media-breakpoint-up(md) { @include font-sizes("lg"); }
@include media-breakpoint-up(lg) { @include font-sizes("xl"); }

@mixin max-width($breakpoint: null) {
    .mw {
        &#{if($breakpoint != null, "-" + $breakpoint, "")} {
            &-400 { max-width: 400px; }
            &-500 { max-width: 500px; }
            &-600 { max-width: 600px; }
            &-700 { max-width: 700px; }
            &-800 { max-width: 800px; }
        }
    }
}

@include max-width;
@include media-breakpoint-down(sm) { @include max-width("sm"); }
@include media-breakpoint-up(sm) { @include max-width("md"); }
@include media-breakpoint-up(md) { @include max-width("lg"); }
@include media-breakpoint-up(lg) { @include max-width("xl"); }

