.login-box {
    width: 100%;
    max-width: 400px;
}

.brand-logo {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-bottom: 3rem;
    display: block;
}

img {
    width: 4rem;
    height: 4rem;
}