<wui-page>
    <wui-app-bar>
        <div class="wui-app-bar-leading">
            <button class="wui-button wui-button-large wui-button-icon wui-button-smooth" wuiToggleDrawer>
                <wui-icon icon="menu"></wui-icon>
            </button>
        </div>
        <div class="wui-app-bar-title">Sign In Layout</div>
        <div class="wui-app-bar-trailing">
            <button class="wui-button wui-button-large wui-button-icon wui-button-smooth">
                <wui-icon icon="refresh"></wui-icon>
            </button>
        </div>
    </wui-app-bar>

    <div class="wui-page-inner">
        <div class="signin">
            <div class="signin-side">
                <div class="signin-side-content">
                    <h1>Customer Relationship Manager<br/>for Wajek Studio Customer</h1>
                </div>
            </div>
            <div class="signin-content"></div>
        </div>
    </div>
</wui-page>