<ng-template #pageTemplate>
    <wui-page>
        <div class="wui-page-inner d-flex align-items-center justify-content-center">
            <div class="py-5 login-box text-start">
                <img src="/assets/logo.svg" class="brand-logo" alt="">
    
                <div class="font-28 font-weight-500 mb-3">Sign In</div>
                <div class="mb-5">Masukkan username dan password anda untuk melanjutkan aplikasi</div>
    
                <form (submit)="submit()">
                    <wui-form-field class="wui-form-field-narrow">
                        <div class="wui-form-field-prefix">
                            <wui-icon icon="cellphone-cog"></wui-icon>
                        </div>
                        <div class="wui-form-field-suffix">
                            <wui-icon icon="web"></wui-icon>
                        </div>
        
                        <div class="wui-form-field-input-prefix">+62</div>
                        <div class="wui-form-field-input-suffix font-weight-500">ID</div>
        
                        <!-- <label for="phone">Phone Number</label> -->
                        <input id="phone" type="text" wuiInput placeholder="Nomor Handphone">
                        <div class="wui-form-field-hint">Sertakan nomor handphone anda</div>
                    </wui-form-field>
        
                    <wui-form-field class="wui-form-field-boxed has-error">
                        <!-- <div class="wui-form-field-prefix">
                            <wui-icon icon="cellphone-cog"></wui-icon>
                        </div>
                        <div class="wui-form-field-suffix">
                            <wui-icon icon="web"></wui-icon>
                        </div> -->
        
                        <!-- <div class="wui-form-field-input-prefix">+62</div>
                        <div class="wui-form-field-input-suffix font-weight-500">ID</div> -->
        
                        <label for="birthday">Tanggal Lahir</label>
                        <input id="birthday" type="date" wuiInput>
                        <div class="wui-form-field-hint">Sertakan tanggal lahir anda</div>
                    </wui-form-field>
        
                    <wui-form-field class="wui-form-field-boxed wui-form-field-narrow">
                        <!-- <div class="wui-form-field-prefix">
                            <wui-icon icon="cellphone-cog"></wui-icon>
                        </div>
                        <div class="wui-form-field-suffix">
                            <wui-icon icon="web"></wui-icon>
                        </div> -->
        
                        <!-- <div class="wui-form-field-input-prefix">+62</div>
                        <div class="wui-form-field-input-suffix font-weight-500">ID</div> -->
        
                        <label for="akses">Akses</label>
                        <select name="akses" id="akses" wuiInput>
                            <option value="ADMINISTRATOR">Administrator</option>
                            <option value="GENERAL">General</option>
                        </select>
                    </wui-form-field>
        
                    <wui-form-field class="wui-form-field-boxed wui-form-field-narrow">
                        <!-- <div class="wui-form-field-prefix">
                            <wui-icon icon="magnify"></wui-icon>
                        </div> -->
                        <label for="realname">Realname</label>
                        <input id="realname" type="text" wuiInput>
                        <!-- <div class="wui-form-field-suffix">
                            <wui-icon icon="pound"></wui-icon>
                        </div> -->
                    </wui-form-field>
        
                    <wui-form-field class="wui-form-field-boxed">
                        <div class="wui-form-field-prefix">
                            <wui-icon icon="magnify"></wui-icon>
                        </div>
                        <label for="username">Username</label>
                        <input id="username" type="text" wuiInput>
                        <div class="wui-form-field-suffix">
                            <wui-icon icon="pound"></wui-icon>
                        </div>
                    </wui-form-field>
        
                    <wui-form-field class="wui-form-field-boxed">
                        <label for="password">Password</label>
                        <input id="password" type="password" wuiInput>
                        <div class="wui-form-field-suffix">
                            <wui-icon icon="lock-outline"></wui-icon>
                        </div>
                    </wui-form-field>
        
                    <div class="pt-3 pb-5 d-flex justify-content-between align-items-center">
                        <a href="#">Lupa Password?</a>
                        <button class="wui-button wui-button-primary" type="submit">Masuk</button>
                    </div>
        
                    <wui-toggle>
                        <label class="wui-toggle-label">Mode</label>
                    </wui-toggle>
    
                    <div class="pt-3 pb-5">Belum punya akun? <a href="#">Daftar</a></div>
        
                    <div class="font-14 pt-5">Copyright &copy; 2023 by Wajek Studio</div>
                </form>
            </div>
        </div>
    </wui-page>
</ng-template>