@mixin base {
    .wui-app-bar {
        display: flex;
        align-items: center;

        padding-left: 1rem;
        padding-right: 1rem;
        height: 4rem;
    }
}

@mixin generate {
    @include base;
}