$primary: #4628A4;
$on-primary: #F1F0F5;
$primary-container: #CDC2F0;
$on-primary-container: #4728A4;
$secondary: #63616B;
$on-secondary: #F2F2F3;
$secondary-container: #D8D7DB;
$on-secondary-container: #63616B;
$danger: #A42828;
$on-danger: #F5F0F0;
$danger-container: #F0C2C2;
$on-danger-container: #A32929;
$surface-dim: #E4E3E8;
$surface: #FFFFFF;
$surface-bright: #F2F1F4;
$surface-container: #EAEAEC;
$surface-container-lowest: #FFFFFF;
$surface-container-low: #F2F2F3;
$surface-container-highest: #D8D7DB;
$surface-container-high: #E0DFE2;
$on-surface: #302E38;
$on-surface-variant: #63616B;
$outline: #898792;
$outline-variant: #CBC9CF;