/* You can add global styles to this file, and also import other style files */

:root {
    --theme-text: #333;
    --theme-light: #E0E0E0;
    --theme-primary: #1E88E5;
    --theme-secondary: #212121;
    --theme-danger: #C62828;
    --theme-border: #e5e5e5;
}

@import '../projects/wui/scss/wui.scss';