<wui-page>
  <wui-app-bar>
    <div class="wui-app-bar-leading">
      <button class="wui-button wui-button-large wui-button-icon wui-button-smooth" wuiToggleDrawer>
        <wui-icon icon="menu"></wui-icon>
      </button>
    </div>
    <div class="wui-app-bar-title">Lists</div>
    <div class="wui-app-bar-trailing">
      <button class="wui-button wui-button-large wui-button-icon wui-button-smooth">
        <wui-icon icon="refresh"></wui-icon>
      </button>
    </div>
  </wui-app-bar>

  <div class="wui-page-inner" wuiScroll (scrollEnd)="scrollEnd()">
    <wui-list class="wui-list-bordered wui-list-hovered">
      <wui-list-tile class="wui-list-tile-header wui-list-tile-header-sticky">
        <div class="wui-list-tile-leading"></div>
        <div class="wui-list-tile-content">
          <div class="row">
            <div class="col-6">Nama User</div>
            <div class="col-6">Email</div>
          </div>
        </div>
        <div class="wui-list-tile-trailing">

        </div>
      </wui-list-tile>
      @for (d of data; track d) {
        <wui-list-tile class="wui-list-tile-56">
          <div class="wui-list-tile-leading">
            <wui-icon icon="tag"></wui-icon>
          </div>
          <div class="wui-list-tile-content">
            <div class="row">
              <div class="col-6">Moch. Rizal Rachmadani</div>
              <div class="col-6">mochrira&#64;gmail.com</div>
            </div>
          </div>
          <div class="wui-list-tile-trailing">
            <button class="wui-button wui-button-icon wui-button-smooth">
              <wui-icon icon="dots-vertical"></wui-icon>
            </button>
          </div>
        </wui-list-tile>
      }
    </wui-list>
  </div>
</wui-page>